
// angular dropdown highlight fr typeahead keyboard

.f-dropdown li.active {
  background: $f-dropdown-list-hover-bg;
}

// ng-cloak support
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

// font-awesome

.tabelle thead {
  -webkit-user-select: none; /* webkit (safari, chrome) browsers */
  -moz-user-select: none; /* mozilla browsers */
  -ms-user-select: none; /* IE10+ */
}

// tabelle

table.dataTable {
  width: 100%;
}

div.dataTables_length label {
  float: left;
  text-align: left;
  margin-bottom: 0;
}

div.dataTables_length select {
  width: 75px;
  margin-bottom: 0;
}

div.dataTables_filter label {
  margin-bottom: 0;
}

div.dataTables_filter input {
  display: inline-block !important;
  width: auto !important;
  margin-bottom: 6px;
}

.tabelle thead th.sorting:after,
.tabelle thead th.sorting_asc:after,
.tabelle thead th.sorting_desc:after {
  padding-left: 4px;
  font-size: 13px;
  line-height: 17px;
  font-family: FontAwesome;
  white-space: nowrap;
}

.tabelle thead th.sorting:after {
  content: "\f0dc";
}

.tabelle thead th.sorting_asc:after {
  content: "\f0de";
}

.tabelle thead th.sorting_desc:after {
  content: "\f0dd";
}

// datatables
.dataTables_paginate {
  li.previous {
    a:before {
      font-family: FontAwesome;
      content: "\f0d9";
    }
  }
  li.next {
    a:after {
      font-family: FontAwesome;
      content: "\f0da";
    }
  }
}