$navbar-height: 38px;

@import "./bootstrap-theme";
@import "./bootstrap";
@import "./bootstrap-slate";
@import "./project_x";

$fa-font-path: "/static/bower_components/components-font-awesome/fonts";
@import "../../bower_components/components-font-awesome/scss/font-awesome";

html {
  background: url('/static/eobase/img/background.jpg') no-repeat center center fixed black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  background: none;
  padding-top: 50px;
}
