{% extends "layout.jinja" %}

{% block content %}
   <div>hi {{ template_base }}</div>
   <div>hi djantem {{ user }} {{ num }}</div>
   <a class="button success" href="{{ url('index2') }}" data-pjax>2</a>
   <a class="button success" href="{{ url('index3') }}" data-pjax>3</a>
   <a class="button warning" href="{{ url('admin:index') }}">Admin</a>
{% endblock %}
